<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}"
>

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div class="container-fluid p-0">

            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>

            <!-- corpo centrale -->
            <div class="row ml-0 mr-0" >
                <!--
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side_warehouse :: left_side_warehouse}">left side</div>
                </div>
                -->

                <div class="col-lg-10">
                    <br/>
                    <h4 th:text="#{label.warehouse.availability}">warehouse availibility</h4>

                    <form name="selectWarehouseForm" th:object="${wareForm}" th:action="@{/admin/wares}" method="get">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="labelWarehouseSelect">warehouse</label>
                            <select class="col-lg-10" id="labelWarehouseSelect" th:field="*{warehouseId}">
                                <option th:value="null" th:text="all">all</option>
                                <option th:each="warehouse : ${warehouses}" th:value="${warehouse.warehouseid}" th:text="${warehouse.name}">
                                    warehouse
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit" th:text="#{label.submit}">submit</button>
                    </form>

                    <!--  -->
                    <br/>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th th:text="#{label.ware.name}">name</th>
                                <th th:text="#{label.ware.ean}">ean</th>
                                <th th:text="#{label.ware.sku}">sku</th>
                                <th th:text="#{label.ware.cost}">cost</th>
                                <th th:text="#{label.ware.unit}">unit</th>
                                <th th:text="#{label.ware.quantity}">quantity</th>
                                <th th:text="#{label.ware.inventoryValue}">inventoryValue</th>
                                <th th:text="#{label.ware.reorderQuantity}">reorderQuantity</th>
                                <th th:text="#{label.ware.reorder}">reorder</th>
                                <th th:text="#{label.ware.container}">container</th>
                                <th th:text="#{label.ware.location}">location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ware : ${wares.content}">
                                <td th:text="${ware.name}">name</td>
                                <td th:text="${ware.isbn}">ean</td>
                                <td th:text="${ware.sku}">sku</td>
                                <td th:text="${ware.cost}">cost</td>
                                <td th:text="${ware.unit}">unit</td>
                                <td th:text="${ware.quantity}">quantity</td>
                                <td th:text="${ware.inventoryValue}">inventoryValue</td>
                                <td th:text="${ware.reorderQuantity}">reorderQuantity</td>
                                <td th:text="${ware.reorder}">reorderr</td>
                                <td th:text="${ware.container}">container</td>
                                <td th:text="${ware.location}">location</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row justify-content-center">
                        <nav aria-label="navigation" th:if="${wares.totalPages gt 1}">
                            <ul class="pagination" th:with="pages=${wares.totalPages}">
                                <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/wares(page=${0}, size=${size}, warehouseId=${warehouseId})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/wares(page=${page - 1}, size=${size}, warehouseId=${warehouseId})}">
                                        <span aria-hidden="true">&lsaquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link" th:text="${page + 1}">-1</a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link">
                                        <span>di</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link" th:text="${pages}">3</a>
                                </li>
                                <li class="page-item" th:classappend="${page eq (wares.totalPages - 1)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/wares(page=${page + 1},size=${size}, warehouseId=${warehouseId})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&rsaquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${page eq (wares.totalPages - 1)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/wares(page=${wares.totalPages - 1}, size=${size}, warehouseId=${warehouseId})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div th:replace="~{fragments/right_side_warehouse :: right_side_warehouse}">right side warehouse</div>
                </div>
            </div>

            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
