<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" 
      th:lang="${lang}">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div  class="container-fluid p-0">
         
            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>       

            <!-- corpo centrale -->
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side :: left_side}">left side</div>
                </div>
            
                <div class="col-lg-7">
                    <br/>
                    <h4 th:text="#{label.purchaseorder.listing}">Purchase Orders Listing</h4>
                    <br/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th th:text="#{label.purchaseorder.username}">Username</th>
                                <th th:text="#{label.purchaseorder.purchase_date}">Purchase Order Date</th>
                                <th th:text="#{label.purchaseorder.total}">Total Amount</th>
                                <th th:text="#{label.purchaseorder.state}">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="purchaseOrder : ${purchaseOrders}">
                                <td th:text="${purchaseOrder.customer.username}" scope="row"></td>
                                <td>
                                    <a th:href="@{'/purchaseorders/' + ${purchaseOrder.id}}" th:text="${#dates.format(purchaseOrder.datePurchase, 'dd-MM-yyyy HH:mm')}"></a>
                                </td>
                                <td class="text-xl-right" th:text="${#numbers.formatDecimal(purchaseOrder.totalAmount, 0, 'COMMA', 2, 'POINT')} + ' &euro;'"></td>
                                <td th:text="${purchaseOrder.state}"></td>
                            </tr>
                        </tbody>                        
                    </table>
                </div>
                            
                <div class="col-lg-3">
                     <div th:replace="~{fragments/right_side :: right_side}">right side</div>
                </div>
            </div>
        
            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>