<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" 
      th:lang="${lang}">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div  class="container-fluid p-0">
         
            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>       

            <!-- corpo centrale -->
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side :: left_side}">left side</div>
                </div>
            
                <div class="col-lg-7">
                    <br/>
                    <h4 th:text="#{label.purchaseorder.order_details}">Order Details</h4>
                    <br/>

                    <table class="table">
                        <thead>
                            <tr>
                                <th th:text="#{label.purchaseorder.username}">User Code</th>
                                <th th:text="#{label.purchaseorder.order_date}">Order Date</th>
                                <th th:text="#{label.purchaseorder.total}">Total</th>
                                <th th:text="#{label.purchaseorder.state}">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${purchaseOrder.customer.username}"></td>
                                <td th:text="${purchaseOrder.datePurchase}"></td>
                                <td th:text="${purchaseOrder.totalAmount} + ' &euro;'"></td>
                                <td th:text="${purchaseOrder.state}"></td>
                            </tr>
                        </tbody>
                    </table>    
                     
                    <br/>
                    <p th:text="#{label.purchaseorder.order_items}">Voci Ordine</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th th:text="#{label.purchaseorder.order_items.product_category}">Categoria</th>
                                <th th:text="#{label.purchaseorder.order_items.product_name}">Prodotto</th>
                                <th th:text="#{label.purchaseorder.order_items.product_code}">Codice</th>
                                <th th:text="#{label.purchaseorder.order_items.product_price}">Prezzo</th>
                                <th th:text="#{label.purchaseorder.order_items.product_quantity}">Quantita'</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lineItem : ${purchaseOrder.lineitems}">
                                <td th:text="${lineItem.product.category.name}"></td>
                                <td th:text="${lineItem.product.name}"></td>
                                <td th:text="${lineItem.product.productCode}"></td>
                                <td th:text="${lineItem.product.price} + ' &euro;'"></td>
                                <td th:text="${lineItem.quantity}"></td>
                            </tr>
                        </tbody>
                    </table>                        
                </div>
                            
                <div class="col-lg-3">
                     <div th:replace="~{fragments/right_side :: right_side}">right side</div>
                </div>
            </div>
        
            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>