<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div class="container-fluid p-0">

            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>

            <!-- corpo centrale -->
            <div class="row" >
                <!--  -->
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side_admin :: left_side}">left side</div>
                </div>

                <div class="col-lg-8">
                    <br/>
                    <h4 th:text="#{label.warehouseJournal.title}">Warehouse Journal</h4>
                    <br/>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th th:text="#{label.warehouseJournal.documentNumber}">name</th>
                                <!--
                                <th th:text="#{label.warehouseJournal.ean}">ean</th>
                                <th th:text="#{label.warehouseJournal.sku}">sku</th>
                                <th th:text="#{label.warehouseJournal.cost}">cost</th>
                                <th th:text="#{label.warehouseJournal.unit}">unit</th>
                                <th th:text="#{label.warehouseJournal.quantity}">quantity</th>
                                <th th:text="#{label.warehouseJournal.inventoryValue}">inventoryValue</th>
                                <th th:text="#{label.warehouseJournal.reorderQuantity}">reorderQuantity</th>
                                <th th:text="#{label.warehouseJournal.reorder}">reorder</th>
                                <th th:text="#{label.warehouseJournal.container}">container</th>
                                <th th:text="#{label.warehouseJournal.location}">location</th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="warehouseJournal : ${warehouseJournals.content}">
                                <td th:text="${warehouseJournal.documentationWarehouse.documentNumber}">number</td>
                                <!--
                                <td th:text="${warehouseJournal.isbn}">ean</td>
                                <td th:text="${warehouseJournal.sku}">sku</td>
                                <td th:text="${warehouseJournal.cost}">cost</td>
                                <td th:text="${warehouseJournal.unit}">unit</td>
                                <td th:text="${warehouseJournal.quantity}">quantity</td>
                                <td th:text="${warehouseJournal.inventoryValue}">inventoryValue</td>
                                <td th:text="${warehouseJournal.reorderQuantity}">reorderQuantity</td>
                                <td th:text="${warehouseJournal.reorder}">reorderr</td>
                                <td th:text="${warehouseJournal.container}">container</td>
                                <td th:text="${warehouseJournal.location}">location</td>
                                -->
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <!-- paginazione -->
                    <div class="row justify-content-center">
                        <nav aria-label="navigation" th:if="${warehouseJournals.totalPages gt 1}">
                            <ul class="pagination" th:with="pages=${warehouseJournals.totalPages}">
                                <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/warehousejournals/all(page=${0}, size=${size})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <!--   -->
                                <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/warehousejournals/all(page=${page - 1}, size=${size})}">
                                        <span aria-hidden="true">&lsaquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link" th:text="${page + 1}">-1</a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link">
                                        <span>di</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="disabled">
                                    <a class="page-link" th:text="${pages}">3</a>
                                </li>
                                <li class="page-item" th:classappend="${page eq (warehouseJournals.totalPages - 1)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/warehousejournals/all(page=${page + 1},size=${size})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&rsaquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${page eq (warehouseJournals.totalPages - 1)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/warehousejournals/all(page=${warehouseJournals.totalPages - 1}, size=${size})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div th:replace="~{fragments/right_side :: right_side}">right side warehouse</div>
                </div>
            </div>

            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
