<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>

<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <!--  -->
        <div class="col-lg-2">
            <div th:replace="~{fragments/left_side_admin :: left_side}">left side</div>
        </div>

        <div class="col-lg-8">
            <br/>
            <h4 th:text="#{label.transportDocument.home}">Transport Dcument</h4>
            <br/>
            <!--
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{label.warehouseJournal.warehouseName}">warehouse name</th>
                    <th th:text="#{label.warehouseJournal.causal}">causal</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="warehouse : ${warehouses.content}">
                    <td th:text="${warehouse.name}">warehouse name</td>
                    <td>
                        <a th:href="@{'/admin/warehousejournals/' + ${warehouse.id}}" th:text="warehouseJournal"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            -->
            <br/>
            <!-- paginazione
            <div class="row justify-content-center">
                <nav aria-label="navigation" th:if="${warehouses.totalPages gt 1}">
                    <ul class="pagination" th:with="pages=${warehouses.totalPages}">
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin/warehousejournals/home(page=${0}, size=${size})}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin/warehousejournals/home(page=${page - 1}, size=${size})}">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${page + 1}">-1</a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link">
                                <span>di</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${pages}">3</a>
                        </li>
                        <li class="page-item" th:classappend="${page eq (warehouseJournals.totalPages - 1)} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/warehousejournals/home(page=${page + 1},size=${size})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page eq (warehouseJournals.totalPages - 1)} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/warehousejournals/home(page=${warehouseJournals.totalPages - 1}, size=${size})}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
            -->

        </div>
        <div class="col-lg-2">
            <div th:replace="~{fragments/right_side :: right_side}">right side warehouse</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>
