<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div class="container-fluid p-0">

            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>

            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side_admin :: left_side}">left side</div>
                </div>
                <div class="col-lg-6">
                    <br/>
                    <h4 th:text="#{label.categories.edit}">category edit</h4>
                    <br/>
                    <form name="editCategoryForm" th:object="${category}" th:action="@{/admin/catalog?form}" th:method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group col-xl-9">
                            <label for="category_name" th:text="#{label.categories.name}">name</label>
                            <input class="form-control" id="category_name" type="text" th:field="*{name}"/>
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin-right: 5px" th:text="#{label.send}"></button>
                        <button type="reset" class="btn btn-primary" style="margin-left: 5px" th:text="#{label.reset}"></button>
                    </form>

                </div>

                <div class="col-lg-4">
                </div>
            </div>

            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
