<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" 
      th:lang="${lang}">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div  class="container-fluid p-0">
         
            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>       

            <!-- corpo centrale -->
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side :: left_side}">left side</div>
                </div>
            
                <div class="col-lg-7">    
                    <br/>
                    <h4 th:text="#{label.product.details}">product details</h4>
                    
                    <div class="row">    
                        <div class="col-lg-4">
                            <img th:src="@{'/products/photo/' + ${product.id} }" width="100" height="150"/>
                        </div>
                        <!--    --> 
                        <div class="col-lg-8">
                            <div class="row">                        
                                <div class="col-lg-8">
                                    <div style="font-size: 130%; font-weight: 600;" th:text="${product.name}"></div>
                                    <div th:text="${product.subtitle}"></div>
                                </div>
                                <div class="col-lg-4">                                                                               
                                    <a th:href="@{'/cart/add/' + ${product.id}}" th:text="#{label.cart.addProduct}">Aggiungi al carrello</a>
                                </div>
                            </div> 
                            <!--  -->
                            <br/>
                            <div class="row">
                                <div class="col-lg-3"><span style="font-weight: 600;" th:text="#{label.product.productCode}"></span></div>
                                <div class="col-lg-9"><span th:text="${product.productCode}"></span> </div>
                            </div>
            
                            <div class="row">
                                <div class="col-lg-3" >
                                    <span style="font-weight: 600;" th:text="#{label.product.price}"></span>
                                </div>
                                <div class="col-lg-9" >
                                    <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}  + ' &euro;'"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"><span style="font-weight: 600;" th:text="#{label.product.description}"></span ></div>
                                <div class="col-lg-9"><span th:text="${product.description}"></span> </div>
                            </div>
                        </div>
                       
                    </div>
                    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{'/products/' + ${product.id}('form')}" th:text="#{label.product.update}"></a>
                </div>
                            
                <div class="col-lg-3">
                     <div th:replace="~{fragments/right_side :: right_side}">right side</div>
                </div>
            </div>
        
            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
