<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>eLisa</title>
    </head>

    <body>
        <div th:fragment="left_side_catalog" style="align-content: left; margin-left: 15px;">
            <br/>
            <h5>Category Edit</h5>
            <br/>
            <form name="editCategoryForm" th:object="${category}" th:action="@{/admin/catalog?form}" th:method="post">
                <input type="hidden" th:field="*{categoryid}"/>
                <div class="form-group">
                    <label for="product_name" th:text="#{label.product.name}">name</label>
                    <input class="form-control" id="product_name" type="text" th:field="*{name}"/>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-right: 5px" th:text="#{label.send}"></button>
                <button type="reset" class="btn btn-primary" style="margin-left: 5px" th:text="#{label.reset}"></button>
            </form>
        </div>
    </body>
</html>