<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>eCompany</title>
    </head>

    <body>
        <div th:fragment="left_side_suppliersAdmin" style="align-content: left; margin-left: 15px;">
            <br/>
            <div class="card">
                <div class="card-header">
                    <h4 th:text="#{label.supplier}">Supplier</h4>
                </div>
                <!--   -->
                <form name="registrationForm" th:object="${supplierForm}" th:attr="action=@{/suppliers/}" method="post">

                    <div class="card-body">
                        <div class="accordion" id="accordionPersonalData">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                            Dati Personali
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPersonalData">
                                    <div class="card-body">
                                        <input type="hidden" name="supplierId" th:field="*{supplierId}"/>
                                        <div class="form-group">
                                            <label id="labelNameId" for="inputNameId" th:text="#{label.supplier.name}"></label>
                                            <input class="form-control" id="inputNameId" type="text" name="name" th:field="*{name}"/>
                                        </div>

                                        <div class="form-group">
                                            <label id="labeVatId" for="inputVatId" th:text="#{label.supplier.vat}"></label>
                                            <input type="text" name="vat" class="form-control" id="inputVatId" th:field="*{vat}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo"
                                                aria-expanded="true" aria-controls="collapseTwo">
                                            Contatto
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionPersonalData">
                                    <div class="card-body">
                                        <input type="hidden" name="contactId" th:field="*{contactId}"/>
                                        <div class="form-group">
                                            <label id="labelEmailId" for="inputEmailId" th:text="#{label.contact.email}"></label>
                                            <input type="text" name="email" class="form-control" id="inputEmailId" th:field="*{email}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelCellularId" for="inputCellularId" th:text="#{label.contact.cellular}"></label>
                                            <input type="text" name="cellular" class="form-control" id="inputCellularId" th:field="*{cellular}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelLandlinePhoneId" for="inpuLandlinePhoneId" th:text="#{label.contact.landlinePhone}"></label>
                                            <input type="text" name="landlinePhone" class="form-control" id="inpuLandlinePhoneId" th:field="*{landlinePhone}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                data-target="#collapseThree"
                                                aria-expanded="true" aria-controls="collapseThree">
                                            Indirizzo
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionPersonalData">
                                    <div class="card-body">
                                        <input type="hidden" name="addressId" th:field="*{addressId}"/>
                                        <div class="form-group">
                                            <label id="labelCityId" for="inputCityId" th:text="#{label.address.city}"></label>
                                            <input type="text" name="city" class="form-control" id="inputCityId" th:field="*{city}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelStreetId" for="inputStreetId" th:text="#{label.address.street}"></label>
                                            <input type="text" name="street" class="form-control" id="inputStreetId" th:field="*{street}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelHouseNumberId" for="inputHouseNumberId" th:text="#{label.address.houseNumber}"></label>
                                            <input type="text" name="houseNumber" class="form-control" id="inputHouseNumberId" th:field="*{houseNumber}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelZipCodeId" for="inputZipCodeId" th:text="#{label.address.zipCode}"></label>
                                            <input type="text" name="zipCode" class="form-control" id="inputZipCodeId" th:field="*{zipCode}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelCountrytId" for="inputCountryId" th:text="#{label.address.country}"></label>
                                            <input type="text" name="country" class="form-control" id="inputCountryId" th:field="*{country}"/>
                                        </div>
                                        <div class="form-group">
                                            <label id="labelStateId" for="inputStateId" th:text="#{label.address.state}"></label>
                                            <input type="text" name="state" class="form-control" id="inputStateId" th:field="*{state}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" style="margin-right: 5px" th:text="#{label.send}"></button>
                        <button type="reset" class="btn btn-primary" style="margin-left: 5px" th:text="#{label.reset}"></button>
                    </div>
                </form>

            </div>
            <br/>
        </div>
    </body>
</html>