<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>eCompany</title>
    </head>

    <body>
        <div th:fragment="right_side_checkout" th:align="left">

            <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                <br/>
                <span class="sidebar-titolo" th:text="#{label.rightside.checkout.title}">Area clienti</span><br/>
                <form>
                    <div class="form-group row">
                        <label for="subTotal" class="col-xl-4 col-form-label">subTotal</label>
                        <div class="col-xl-7">
                            <input id="subTotal" type="text" class="form-control-plaintext" th:value="${#numbers.formatDecimal(cartBean.subTotal, 0, 'POINT', 2, 'POINT') + ' &euro;'}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shippingCost" class="col-xl-4 col-form-label">shippingCost</label>
                        <div class="col-xl-7">
                            <input id="shippingCost" type="text" class="form-control-plaintext" th:value="${#numbers.formatDecimal(cartBean.shippingCosts, 0, 'POINT', 2, 'POINT') + ' &euro;'}" readonly>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row">
                        <label for="total" class="col-xl-4 col-form-label">Total</label>
                        <div class="col-xl-7">
                            <input id="total" type="text" class="form-control-plaintext" th:value="${#numbers.formatDecimal(cartBean.totalCost, 0, 'POINT', 2, 'POINT')}" readonly>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary mb-2">Vai alla cassa</button>
                </form>
            </div>
            <br/>
        </div>
    </body>
</html>