<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>eLisa</title>
    </head>

    <body>
        <div th:fragment="right_side_admin" th:align="left">
            <br/>
            <span class="sidebar-titolo" th:text="#{label.resource}">Area clienti</span><br/>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <!--  -->
                <a th:href="@{/admin/catalog}" >Catalog</a>
                <br/>
                <a th:href="@{'/admin/purchaseorders/all' + ${customer.customerid}}"
                   th:text="#{label.purchaseorder.listing}"></a>

            </div>
            <!--
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{'/purchaseorders/all'}" th:text="#{label.purchaseorder.listing.all}"></a>
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{'/admin/warehouse'}" th:text="#{label.warehouse.all}"></a>
            </div>
            -->
            <br/>
        </div>
    </body>
</html>
