<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"  
      th:with="lang=${#locale.language}" 
      th:lang="${lang}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <body>
        <div  class="container-fluid p-0">
         
            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>       

            <!-- corpo centrale -->
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side :: left_side}">left side</div>
                </div>
            
                <div class="col-lg-7">

                    <br/>
                    <h5 th:text="#{label.cart.details}">Dettagli Carrello</h5>

                    <div th:if="${cartBean.products.size()} > 0">

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 font-weight-bold" th:text="#{label.product.product}">Prodotto</div>
                            <div class="col-lg-2 font-weight-bold" th:text="#{label.product.price}">Prezzo</div>
                            <div class="col-lg-1 font-weight-bold" th:text="#{label.product.quantity}">Quantita'</div>
                            <div class="col-lg-2 font-weight-bold" th:text="#{label.cart.subtotal}">Subtotale</div>
                            <div class="col-lg-1">&nbsp;</div>
                        </div>
                        <br/>
                        <div th:each="product : ${cartBean.products}">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img th:src="@{'/products/photo/' + ${product.key.productid} }" width="100px"/>
                                </div>
                                <div class="col-lg-4">
                                    <span th:text="${product.key.name}"></span>
                                </div>
                                <div class="col-lg-2">
                                    <span th:text="${#numbers.formatDecimal(product.key.price, 0, 'COMMA', 2, 'POINT')}  + ' &euro;'"></span>
                                </div>
                                <div class="col-lg-1">
                                    <span th:text="${product.value}"></span>
                                </div>
                                <div class="col-lg-2">
                                    <span th:text="${#numbers.formatDecimal((product.key.price * product.value),  0, 'COMMA', 2, 'POINT')} + ' &euro;'"></span>
                                </div>
                                <div class="col-lg-1">
                                    <a th:href="@{'/cart/deleteproduct/' + ${product.key.productid}}">
                                        <span class="fa fa-trash fa-lg"></span>
                                    </a>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-4">
                                <a th:href="@{'/purchaseorders/all/customers/checkout'}">
                                    <span th:text="#{label.cart.proceed_with_the_order}">Procedi con l'ordine</span>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a th:href="@{'/cart/delete'}">
                                    <span th:text="#{label.cart.empty_cart}">Svuota il carrello</span>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a th:href="@{'/'}">
                                    <span th:text="#{label.cart.continue_shopping}">Continua lo shopping</span>
                                </a>
                            </div>
                        </div>
                        <br/>

                    </div>

                    <div th:if="${cartBean.products.size()} < 1">
                        <div class="row">
                            <div class="col-lg-4">
                                <br/>
                                <p th:text="#{label.cart.empty_shopping_cart}">carrello acquisti vuoto</p>
                                <a th:href="@{'/'}">
                                    <span th:text="#{label.cart.continue_shopping}">Continua lo shopping</span>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <span>&nbsp;</span>
                            </div>
                            <div class="col-lg-4">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <br/>

                    </div>
                </div>
                            
                <div class="col-lg-3">
                     <div th:replace="~{fragments/right_side :: right_side}">right side</div>
                </div>
            </div>
        
            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>