<!DOCTYPE HTML>

<html th:lang="${lang}"
      th:with="lang=${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>

    <body>
        <div class="container-fluid p-0">

            <!-- intestazione -->
            <div th:replace="~{fragments/header :: header}">header</div>

            <!-- corpo centrale -->
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/left_side_admin :: left_side_admin}">left side</div>
                </div>

                <div class="col-lg-7">
                    <br/>
                </div>

                <div class="col-lg-3">
                    <div th:replace="~{fragments/right_side_admin :: right_side_admin}">right side</div>
                </div>
            </div>

            <!-- pie' pagina -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </body>
</html>